In [1]:
import pandas as pd

In [2]:
# data url = 'https://www.kaggle.com/datasets/shubhambathwal/flight-price-prediction/data'

In [3]:
df = pd.read_csv('../data/raw_dataset_Landry.csv')
df.drop(columns=['Unnamed: 0', 'days_left'], inplace=True)
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,5955

In [4]:
df["price"] = round(df["price"] * 0.12 / 10, 2)
df["duration"] = round(df["duration"] * 60, 0).astype(int)
df["stops"].replace({"zero": 0, "one": 1, "two_or_more": 2}, inplace=True)
df["class"].replace({"Economy": 0, "Business": 1}, inplace=True)
df.rename(columns={'source_city': 'origin', 'destination_city': 'destination'}, inplace=True)

In [5]:
df.to_csv('../data/clean_dataset.csv_Landry', index=False)