In [30]:
# imports

import pandas as pd
import random
import numpy as np

In [3]:
df = pd.read_csv('../data/Clean_Dataset.csv')
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
df['source_city'].value_counts()

source_city
Delhi        61343
Mumbai       60896
Bangalore    52061
Kolkata      46347
Hyderabad    40806
Chennai      38700
Name: count, dtype: int64

In [5]:
df['destination_city'].value_counts()

destination_city
Mumbai       59097
Delhi        57360
Bangalore    51068
Kolkata      49534
Hyderabad    42726
Chennai      40368
Name: count, dtype: int64

In [6]:
df.shape

(300153, 12)

In [8]:
(df['class'].value_counts())

class
Economy     206666
Business     93487
Name: count, dtype: int64

In [3]:
df = pd.read_csv('../../../../itineraries.csv', skiprows=lambda i: i > 0 and random.random() > 0.5)

In [4]:
df.columns

Index(['legId', 'searchDate', 'flightDate', 'startingAirport',
       'destinationAirport', 'fareBasisCode', 'travelDuration', 'elapsedDays',
       'isBasicEconomy', 'isRefundable', 'isNonStop', 'baseFare', 'totalFare',
       'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

In [7]:
df.drop(columns=['isRefundable','fareBasisCode','searchDate'], inplace=True).head(1)

AttributeError: 'NoneType' object has no attribute 'head'

In [8]:
df.columns

Index(['legId', 'flightDate', 'startingAirport', 'destinationAirport',
       'travelDuration', 'elapsedDays', 'isBasicEconomy', 'isNonStop',
       'baseFare', 'totalFare', 'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeEpochSeconds', 'segmentsDepartureTimeRaw',
       'segmentsArrivalTimeEpochSeconds', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

In [9]:
df.head()

,legId,flightDate,startingAirport,destinationAirport,travelDuration,elapsedDays,isBasicEconomy,isNonStop,baseFare,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9ca0e81111c683bec1012473feefd28f,2022-04-17,ATL,BOS,PT2H29M,0,False,True,217.67,248.6,...,1650223560,2022-04-17T15:26:00.000-04:00,BOS,ATL,Delta,DL,Airbus A321,8940,947,coach
1,79eda9f841e226a1e2121d74211e595c,2022-04-17,ATL,BOS,PT2H38M,0,False,True,217.67,248.6,...,1650216180,2022-04-17T13:23:00.000-04:00,BOS,ATL,JetBlue Airways,B6,NaN,9480,947,coach
2,9335fae376c38bb61263281779f469ec,2022-04-17,ATL,BOS,PT4H12M,0,False,False,213.02,251.1,...,1650203400||1650213120,2022-04-17T09:50:00.000-04:00||2022-04-17T12:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A320||Airbus A320,5400||7500,228||728,coach||coach
3,3904bf87f2d1daf334f1ae7e3b876028,2022-04-17,ATL,BOS,PT5H18M,0,False,False,213.02,251.1,...,1650203400||1650217080,2022-04-17T09:50:00.000-04:00||2022-04-17T13:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A320||Boeing 737-800,5400||8280,228||728,coach||coach
4,562e7d5dd6ecbf1509c0c19711dbdca9,2022-04-17,ATL,BOS,PT6H38M,0,False,False,213.02,251.1,...,1650198060||1650217080,2022-04-17T08:21:00.000-04:00||2022-04-17T13:3...,CLT||BOS,ATL||CLT,American Airlines||American Airlines,AA||AA,Airbus A319||Boeing 737-800,4860||8280,228||728,coach||coach

In [10]:
df.shape

(41071737, 24)

In [11]:
df.drop(columns=['segmentsArrivalTimeEpochSeconds','segmentsDepartureTimeEpochSeconds'], inplace=True)

AttributeError: 'NoneType' object has no attribute 'columns'

In [15]:
df.columns

Index(['legId', 'flightDate', 'startingAirport', 'destinationAirport',
       'travelDuration', 'elapsedDays', 'isBasicEconomy', 'isNonStop',
       'baseFare', 'totalFare', 'seatsRemaining', 'totalTravelDistance',
       'segmentsDepartureTimeRaw', 'segmentsArrivalTimeRaw',
       'segmentsArrivalAirportCode', 'segmentsDepartureAirportCode',
       'segmentsAirlineName', 'segmentsAirlineCode',
       'segmentsEquipmentDescription', 'segmentsDurationInSeconds',
       'segmentsDistance', 'segmentsCabinCode'],
      dtype='object')

In [16]:
df['startingAirport'].value_counts()

startingAirport
LAX    4037467
LGA    2958904
BOS    2945967
SFO    2852477
DFW    2838195
ORD    2750753
CLT    2746725
ATL    2655914
MIA    2465060
PHL    2362677
DEN    2349009
DTW    2273258
JFK    2213508
EWR    1984854
OAK    1904671
IAD    1732298
Name: count, dtype: int64

In [17]:
dat_column = df['flightDate']

In [21]:
dat_column[0]

'2022-04-17'

In [23]:
dat_column = pd.to_datetime(dat_column)

In [24]:
dat_column.max()

Timestamp('2022-11-19 00:00:00')

In [25]:
dat_column.min()

Timestamp('2022-04-17 00:00:00')

In [27]:
dat_column[0].year

2022

In [29]:
year_list = [i.year for i in dat_column]

In [31]:
max(year_list)

2022

In [32]:
min(year_list)

2022

In [33]:
new_df = df

In [34]:
new_df.isnull().sum()

legId                                 0
flightDate                            0
startingAirport                       0
destinationAirport                    0
travelDuration                        0
elapsedDays                           0
isBasicEconomy                        0
isNonStop                             0
baseFare                              0
totalFare                             0
seatsRemaining                        0
totalTravelDistance             3046696
segmentsDepartureTimeRaw              0
segmentsArrivalTimeRaw                0
segmentsArrivalAirportCode            0
segmentsDepartureAirportCode          0
segmentsAirlineName                   0
segmentsAirlineCode                   0
segmentsEquipmentDescription     778657
segmentsDurationInSeconds             0
segmentsDistance                 426639
segmentsCabinCode                     0
dtype: int64

In [35]:
new_df = new_df.dropna(subset=['segmentsEquipmentDescription','segmentsDistance'])

In [36]:
new_df.isnull().sum()

legId                                 0
flightDate                            0
startingAirport                       0
destinationAirport                    0
travelDuration                        0
elapsedDays                           0
isBasicEconomy                        0
isNonStop                             0
baseFare                              0
totalFare                             0
seatsRemaining                        0
totalTravelDistance             2620057
segmentsDepartureTimeRaw              0
segmentsArrivalTimeRaw                0
segmentsArrivalAirportCode            0
segmentsDepartureAirportCode          0
segmentsAirlineName                   0
segmentsAirlineCode                   0
segmentsEquipmentDescription          0
segmentsDurationInSeconds             0
segmentsDistance                      0
segmentsCabinCode                     0
dtype: int64

In [37]:
new_df.shape

(40000459, 22)

In [40]:
no_nulldf = new_df.dropna(subset=['totalTravelDistance'])

MemoryError: Unable to allocate 4.18 GiB for an array with shape (15, 37380402) and data type object

In [42]:
new_df.to_csv('../data/slightly_smaller.csv')